[2016-07-21 11:03] iblack10 opened #1 "Unable to load custom stylelint config"
Thanks for creating the plugin.

I have a working ".stylelintrc" config file in the root of my project which successfully lints styles inside of VS Code. However, I can't get vscode-stylefmt to use the same configuration file. When I run style-fmt it just uses some default rules and not the rules in my .stylelintrc file.

Am I missing something?

[2016-07-21 15:19] mrmlnc commented on #1
Hi, @iblack10,

I can't reproduce your problem on Windows 10. You can provide your configuration file and CSS/Scss file (preferably with the structure of directories)?

[2016-07-21 16:06] iblack10 commented on #1
Ah, I think I've narrowed down the issue to how my stylelint rules are formatted. I have:

"indentation": [4, { "severity": "error" }]

That doesn't work - but this does:

"indentation": 4

I've been using different severities for rules as per the stylelint docs: https://github.com/stylelint/stylelint/blob/d2166dfbcdefefacafd27afd5993ec8341c3b45e/docs/user-guide/configuration.md#severities-error--

[2016-07-21 16:28] mrmlnc commented on #1
It seems that this is so. I installed Stylefmt as the global package and tried to format a SCSS file with this configuration:

[code]

And... it does not work as expected. Please create this question in the [repository Stylefmt](https://github.com/morishitter/stylefmt). I will update the plugin, once this issue is resolved.

[2016-07-21 16:41] iblack10 commented on #1
Thanks - have created an [issue](https://github.com/morishitter/stylefmt/issues/170) for this now.

[2016-07-21 16:45] mrmlnc commented on #1
Ok. In such a case, i will close this issue.  I will update the plugin, once this issue is resolved. :+1:

[2016-07-21 16:45] #1 closed, assigned to mrmlnc

[2016-07-21 18:03] that70schris opened #2 ""stylefmt.autoFormatOnSave": true,"
this doesn't appear to work, at least not with scss.

[2016-07-21 20:33] mrmlnc commented on #2
Nice catch :muscle:. Thanks for issue. Fixed in version 1.1.1.

[2016-07-21 20:33] #2 closed, assigned to nobody

[2016-07-21 20:37] that70schris commented on #2
you're the best!!

[2016-07-27 23:50] iblack10 commented on #1
I've submitted a [pull request](https://github.com/morishitter/stylefmt/pull/171) which should fix this issue for the "indentation" rule. Same process would need to be carried out for all other rules as well though.

[2016-07-28 08:03] mrmlnc commented on #1
@iblack10, done :+1:

[2016-08-19 07:24] MartynasZilinskas opened #8 "Does it work with vscode-stylelint?"
Does this extension works with [stylelint](https://marketplace.visualstudio.com/items?itemName=shinnn.stylelint)?

Because I have confing in `User settings`.

[code]

And it would be great if could work.

[2016-08-19 07:44] mrmlnc commented on #8
Hello, @MartynasZilinskas,

I think it's a good idea, but now it can cause problems. Unfortunately, we use a slightly modified version of Stylefmt (hardcode in `/node_modules/stylefmt/lib/params.js`). I'll think about it and, if do not need to make many changes in the Stylefmt code, will release an update.

I think it will be easy to do, but just in case, check this.

[2016-08-20 10:14] mrmlnc commented on #8
Resolve in version 1.2.0 (see f8df5f2c7fffe022d942506fde765d4d08102b05).

#

If you use this extension and satisfied with his work, then please leave a review in the marketplace.

[2016-08-20 10:14] #8 closed, assigned to mrmlnc

[2016-08-31 03:52] abrcdf1023 opened #11 "set useStylelintConfigOverrides true is not work?"
Hello i have some config setting issue

This's my vscode settings.json

[code]

But it no work , it's format as default setting.

Can it have a feature that to config vscode-setting like this?

`
"stylefmt.config":{
    "rules":{
        "indentation": "tab",
        ...
    }
}
`

If so , that will be awesome !!

Btw support rules are here

https://github.com/morishitter/stylefmt#stylelint-rules-

[2016-08-31 21:13] mrmlnc commented on #11
Hello, @abrcdf1023,

Sorry for delay, just work :construction_worker:.

Now the extension gets the settings only from `.stylelintrc` file and `stylelint.configOverrides` options.

**stylelintrc**

[code]

**settings.json**

[code]

You want to configure the extension using `settings.json` with `stylefmt.config` option?

[2016-09-01 00:30] abrcdf1023 commented on #11
Yes, but if configoverride is work that will not important anymore.

Thanks for your hard work!
Have a nice day.

[2016-09-01 00:33] mrmlnc commented on #11
@abrcdf1023, I can close this issue?

[2016-09-01 00:56] abrcdf1023 commented on #11
Yes, you can.

[2016-09-01 02:29] abrcdf1023 commented on #11
@mrmlnc

Sorry to bother you all the times

I found that if my .stylelintrc not in root but in stylesheet folder it will not be loaded, it's predictable?

![default](https://cloud.githubusercontent.com/assets/12894459/18153140/1f65a068-702e-11e6-8919-9272467f8d71.png)

settings.json not work as predictable also.

![2](https://cloud.githubusercontent.com/assets/12894459/18153179/5ecac12a-702e-11e6-

[2016-09-01 08:06] mrmlnc commented on #11
@abrcdf1023,

You're right, `.stylelintrc` used only from the root directory. I'll start working on this soon.

[2016-09-02 11:47] #11 closed, assigned to mrmlnc

[2016-09-02 11:47] mrmlnc commented on #11
Fixed in version **1.2.1**. Please, try new version.

[2016-09-11 16:57] tinovyatkin opened #15 "Splits variable names with two dashes"
Hello,
Not sure if it `stylefmt` related or extension related, but it brokes SCSS variables with two dashes in name, like `$ratio-16-9` into something wrong like `$ratio-16 - 9` (so, confuses with calculation I assume?).

Otherwise nice extension!

[2016-09-11 18:32] mrmlnc commented on #15
@tinovyatkin,

Firstly, thank you for opening this issue.

I can't reproduce your problem on Windows 10. Please create this question in the [repository Stylefmt](https://github.com/morishitter/stylefmt). I will update the plugin, once this issue is resolved.

You can help fix the problem, if you provide small code examples.

[2016-09-13 13:14] tinovyatkin commented on #15
I think it's related to the [issue #195](https://github.com/morishitter/stylefmt/issues/195) at `stylefmt` so I didn't open new issue there (as it's too much already)

[2016-09-18 09:35] mrmlnc opened #17 "Provide autocomplete for .stylelintrc file"

[2016-09-23 07:19] #17 closed, assigned to mrmlnc

[2016-09-26 14:35] mrmlnc opened #21 "Support for formatOnSave after release 1.6.0"

[2016-09-30 22:20] mrmlnc opened #24 "Hello, TypeScript"

[2016-09-30 22:21] mrmlnc opened #25 "Support for selections"

[2016-10-18 08:29] jrieken opened #28 "Use formatter API for better integration"
I'd recommend to use the languages API to register a formatting edits provider because it will allow for a better integration in VS Code, esp wrt #21. There is the [`registerDocumentFormattingEditProvider`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L4072)-function which is the way to introduce a formatter for certain document types. It will integrate you into the `Format C

[2016-10-18 09:15] mrmlnc commented on #28
Hello, @jrieken,

Thanks for your tip. I'll work on this today.

[2016-10-18 13:14] mrmlnc commented on #28
@jrieken, Sorry for question, but I don't fully understand this functionality.

As I understand it, this API adds my plugin in `Format Code` command. But what if I add this functionality for all my own plugins? For example, `csscomb`, `autoprefixer` and `stylefmt` and then I press `Format Code`?

The question is, what is better to use `registerDocument(Range)FormattingEditProvider` or `onWillSaveT

[2016-10-18 14:00] jrieken commented on #28
Definitely `registerDocument(Range)FormattingEditProvider` because then it's known as a formatter and we treat it like one (showing the entry in the context menu, calling you when `editor.formatOnSave` is set etc).

When you register a provider you always say what [documents](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L1499) you are registering it for, for instance _CSS fil

[2016-10-18 14:06] mrmlnc commented on #28
Thanks you for your answer ❤️

But small clarification:
- I should provide `formatOnSave` option for users?
- In this case, I should have such functions in the plugin without `registerTextEditorCommand` for `stylefmt.execute` or just only `registerDocument(Range)FormattingEditProvider`?

[2016-10-18 14:42] mrmlnc commented on #25
Will be available in `2.0.0`.

[2016-10-18 14:42] #25 closed, assigned to mrmlnc

[2016-10-18 14:42] mrmlnc commented on #24
Will be available in `2.0.0`.

[2016-10-18 14:42] #24 closed, assigned to mrmlnc

[2016-10-18 14:42] mrmlnc commented on #21
Will be available in `2.0.0`.

[2016-10-18 14:42] #21 closed, assigned to mrmlnc

[2016-10-18 15:12] jrieken commented on #28
yeah - I would deprecate the custom `formatOnSave` option and rely on `registerDocument(Range)FormattingEditProvider`. Also note that `registerDocumentRangeFormattingEditProvider` is a _super-set-provider_ to `registerDocumentFormattingEditProvider` since the former is a special case of the latter.

[2016-10-18 15:18] mrmlnc commented on #28
Thanks for the help, @jrieken.

I will update this plugin tomorrow.

[2016-10-19 08:51] mrmlnc commented on #28
@jrieken, thanks for motivation. This API used in version `2.0.0`.

https://github.com/mrmlnc/vscode-stylefmt/releases/tag/2.0.0

[2016-10-19 08:51] #28 closed, assigned to mrmlnc

[2016-12-10 13:38] mrmlnc commented on #15
Closed, because this is upstream issue. But i'll update this plugin, once #195 issue will be resolved.

[2016-12-10 13:38] #15 closed, assigned to mrmlnc

[2017-02-05 12:53] jquintozamora opened #67 "Format document not working with VS Code 1.9.0"
Hi,
The extension is not working for me.
VS Code> 1.9.0
.stylelintrc
`{
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "blockless-after-same-name-blockless",
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "at-rule-name-case": "lower",
    "at-rule-name-space-after": "always-single

[2017-02-06 08:14] mrmlnc commented on #67
Sorry, but most likely you have broken config.

![screencast 2017-02-06 11-12-59](https://cloud.githubusercontent.com/assets/7034281/22639098/54c04f32-ec5d-11e6-863a-188f1e2d5fea.gif)

[2017-02-06 10:16] jquintozamora commented on #67
Thanks @mrmlnc ,  It wors fine with your example,
But it is not working with this .stylelintrc (copied direcly from stylelint page: https://github.com/stylelint/stylelint-config-standard):

`{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": "tab",
    "number-leading-zero": null,
    "property-no-unknown": [ true, {
      "ignoreProperties": [
        "composes"
      ]

[2017-02-06 11:27] jquintozamora commented on #67
just an update, If I remove "extends": "stylelint-config-standard" , it works fine.

[2017-02-06 11:30] mrmlnc commented on #67
Thanks you for your deep analysis. I'll look at this issue today. So reopen.

[2017-02-10 10:13] loixlab commented on #67
I have the same issue, it does not work with the "extends": "stylelint-config-standard".
Thanks!

[2017-02-12 13:13] mrmlnc commented on #67
Sorry guys, but I cannot reproduce your problem. Please, look at GIF and give me more information of your environment (maybe your project or repository).

My environments:

  * Windows 10 and macOS
  * VS Code 1.9.1

![2017-02-12_16-12-06](https://cloud.githubusercontent.com/assets/7034281/22862358/0f99edba-f13e-11e6-891e-80cf6b780b87.gif)

[2017-02-16 16:47] JonathanWolfe commented on #67
It's failing because of an `undefined rule` inside `stylint-config-standard` for this plugin's (and `stylefmt`'s) `stylelint` verison.

The error occurred for me because of `rule-empty-line-before` which only exists inside `stylelint@7.8.0` but vscode is installing `stylelint@7.5.0`.

Technically this isn't a bug for you, but for `stylefmt`, other than you should try to use workspace/global instal

[2017-03-02 12:15] ivancuric opened #80 "Not working in vscode — CLI version does"
So, for a while now, stylefmt doesn't seem to be able to format CSS / SCSS documents.

I'm using vscode 1.10.1, stylefmt v2.2.2 and stylelint v0.23.0 which are the latest at the time of this writing.

I'm using a .stylelintrc file with the following options:
[code]
No errors are output (like when stylelint is out of date).

[2017-03-02 15:42] mrmlnc commented on #80
Hello, @ivancuric,

Most likely this is related to #67. I'll look at your issue very soon.

[2017-03-05 14:53] mrmlnc commented on #67
Please, look at `2.2.3` version. Potentially, this should fix the problem.

[2017-03-05 14:53] #67 closed, assigned to mrmlnc

[2017-03-05 14:53] mrmlnc commented on #80
Please, look at `2.2.3` version. Potentially, this should fix the problem.

[2017-03-05 14:53] #80 closed, assigned to mrmlnc

[2017-03-10 10:34] anvish opened #84 "Editing causes Output panel to show and steal focus"
When adding a new rule in the middle of scss file, output panel opens and steals focus:
[code]

[2017-03-10 11:01] mrmlnc commented on #84
Please, provide your editor settings and steps to reproduce your problem. Will be cool if you provide GIF or video.

[2017-03-10 16:53] anvish commented on #84
1. Copy class name
2. Open scss file
3. Press dot
4. Paste
5. Error window appears

![bug](https://cloud.githubusercontent.com/assets/1114090/23804494/2636d74e-05cb-11e7-9690-149590bb912e.gif)

[2017-03-10 16:56] mrmlnc commented on #84
This is related to `editor.formatOnPaste` option. VS Code try to format code after paste, but since it is invalid code `stylefmt` throw error.

[2017-03-17 19:21] mrmlnc commented on #84
Closing as we need more info to investigate this.

[2017-04-14 12:10] svipas opened #93 "Doesn't working for VS Code 1.11.2, etc."
Hello,

1. It doesn't works for VS Code 1.11.2, tried format with `ALT+SHIFT+F` and F1 selecting `stylefmt: Format CSS`, but nothing happens...

For e.g. trying to format this code, but nothing happens, I even tried to install `stylefmt` itself with yarn, but it was same...
[code]

2. It will be very cool to format it with `CTRL + SHIFT + I`, for e.g. in prettier which formats JS this keybind is e

[2017-04-14 12:30] svipas commented on #93
1. I know why it doesn't working, after I deleted my `.stylelintrc` file it started to work, so something is bad with plugin, because my file is correct since I'm getting `stylelint` warnings/errors in VS Code, etc.

Here is my `.stylelintrc` config:

[code]

**P.S.** Removed `#` comments but issue was same. I'm using latest `stylelint`.
**P.S.S.** Seems it is, because of this new rule added `"at-

[2017-04-17 08:17] svipas commented on #93
In short: for 1. and 3. you need to update `stylefmt` to latest version which is 5.3.2 and the problem will be fixed (I think so, because it doesn't working only if new rule is added in `.stylelintrc` config). About 2., it will be very cool if it can format with `CTRL + SHIFT + I` as it is right now with all formatters, but if you don't have time better do 1. and 3. to make it usable.

Thanks.

[2017-04-17 08:35] mrmlnc commented on #93
Yeap, thanks for your work. I can do it (update `stylefmt` and `stylelint`) today, but later. But I am against adding `CTRL + SHIFT + I`, because it's very unstable now (see https://github.com/mrmlnc/vscode-attrs-sorter/issues/31 and https://github.com/Microsoft/vscode/issues/21967).

[2017-04-17 08:45] svipas commented on #93
@mrmlnc Right now VS Code is 1.11.2, maybe it's fixed. If you have time and it isn't hard to make it to format with `CTRL + SHIFT + I` I can give a try to test it. You can check this plugin to format JS ([prettier-vscode](https://github.com/esbenp/prettier-vscode)), they are using `CTRL + SHIFT + I`, maybe you will find something in their source code.

[2017-04-17 18:05] evanwarner commented on #84
What additional info do you need? I'm getting the exact same problem.
[code]

Super annoying as I'm constantly writing HTML then copying classes into my stylesheet.

[2017-04-17 18:10] mrmlnc commented on #84
I don't fully understand your problem. You write invalid CSS code and plugin gives you an error. You want option to disable error output?

[2017-04-17 18:17] mrmlnc commented on #93
Updated to the latest version of stylefmt. Please, create separated issue for `CTRL + SHIFT + I` format :)

[2017-04-17 18:17] #93 closed, assigned to mrmlnc

[2017-04-17 18:20] svipas commented on #93
@mrmlnc Thank you, tested everything right now works correctly!

[2017-04-17 18:25] evanwarner commented on #84
Well, the code is invalid in the sense that I haven't finished typing yet, yes. But the error highlighter is not the problem (that's working fine). The problem unique to this case is that the output panel pops up and steals focus. That doesn't happen when I'm just writing a class name. It only happens when I paste a class name in.

![stylefmt-error](https://cloud.githubusercontent.com/assets/64538

[2017-04-17 18:26] svipas opened #94 "`CTRL + SHIFT + I` for formatting"
Hi,

My suggestion is to enable CSS formatting through `CTRL + SHIFT + I` as it is for e.g. with `prettier` which formats JS files. It's very handy when you use only 1 keybind to format your code instead of 2 keybinds. After this, this plugin will be the best CSS formatter ever :smiling_imp:

Thank you for your time!

[2017-04-17 18:29] mrmlnc commented on #84
Very strange, because this plugin attempts to format the code only when the command `stylefmt.execute` is executed or you use `Format` from editor.

You can provide your settings?

[2017-04-17 18:45] evanwarner commented on #84
Ahhh, ok I found the culprit. I have the [multiple clipboards](https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-multiclip) extension installed. I just set `"multiclip.formatAfterPaste": false` and problem solved!

@anvish Is this the same case for you?

[2017-04-17 19:34] anvish commented on #84
@evanwarner no, I don't have this extension, I have "editor.formatOnPaste": true

@mrmlnc Problem with the panel is not solved. I think the issue should be in open state. Were you able to reproduce the issue? These steps reliably reproduce it for me ("editor.formatOnPaste" should be set to true):
* Copy some class name
* Close VSCode
* Open VSCode with css file
* Enter dot
* Press ctrl+v

Output p

[2017-04-18 04:40] mrmlnc commented on #84
I'll add `stylefmt.showError` option. By default this option will be enabled.

[2017-04-24 10:38] svipas commented on #94
@mrmlnc I don't know how, but it started to work with `CTRL + SHIFT + I` :smile:

[2017-04-24 10:49] mrmlnc commented on #94
Sorry, but <kbd>CTRL + SHIFT + I</kbd> is `Format Document` or `Format Selection`? Technically `Format Document` is `Format Selection` but with `Range === Document (start + end)`.

[2017-04-24 10:50] svipas commented on #94
@mrmlnc `Ctrl+Shift+I` - Format Document - editor.action.formatDocument. I don't know why, but before this issue it didn't worked and right now it works :smile:

[2017-04-24 10:54] mrmlnc commented on #94
Maybe you have selection? Please, try again. It seems to me that it should work now.

[2017-04-24 10:57] svipas commented on #94
@mrmlnc Maybe you understand me wrong. I don't know why, but for me formatting with `CTRL + SHIFT + I` was not working, it was working only with `CTRL + SHIFT + P` and I need to use `stylefmt: Format CSS`. But right now I tried again `CTRL + SHIFT + I`, because of my habit to format JS this way and BOOM it started to format CSS files. So this issue can be closed, because `CTRL + SHIFT + I` formatt

[2017-04-24 11:00] mrmlnc commented on #94
Thanks for clarification. If you have any questions you can create Issues 👍

[2017-04-24 11:00] #94 closed, assigned to mrmlnc

[2017-04-24 11:00] svipas commented on #94
@mrmlnc Thank you for such plugin!

[2017-04-24 15:22] svipas opened #96 "Autofixing on errors"
Hello,

I know that stylelint still not released yet with `--fix` feature, but after release when also `stylefmt` will be updated to use latest version of stylelint, what do you think about fix feature on format?

If you can don't close this issue, let it be, when stylelint and stylefmt will be updated with `--fix` feature we can discuss here to include it or no.

[2017-05-01 12:54] mrmlnc commented on #96
IMHO, this does not apply to this plugin. This should be implemented in the `stylelint` plugin.

[2017-05-01 12:54] mrmlnc commented on #84
Will be fixed in 2.3.0. Code in master. Release very soon.

[2017-05-01 12:54] #84 closed, assigned to mrmlnc

[2017-05-01 21:29] svipas commented on #96
@mrmlnc You're saying true, but `stylelint` plugin owner doesn't give a **** about that. By the way `prettier` is JS formatter, but it adds needed semicolons and so on, it works like `--fix`, but with extra addition, I was thinking the same for this CSS formatter, but anyway, you're saying true, this function not belongs for `stylefmt`. You can close issue if you want.

[2017-05-02 05:22] mrmlnc commented on #96
You must to understand that they are two different entities and they are not associated. This functionality applies to Stylelint. Ideally, Stylelint must absorb Stylefmt because it uses the rules first. We can fork or send PR's to `vscode-stylelint`. I'm not going to close the issue to remember about him.

[2017-05-08 20:47] chrishoage opened #101 "formatOnSave does not work when css is mapped to different type"
[code]

In a project I have postcss files named as css files, then map them with the `files.associations` config in my Workspace settings.

When this is set `formatOnSave` has not effect. If I change the type to CSS `formatOnSave` works as expected.

How do I get `formatOnSave` to work when PostCSS syntax is enabled?

[2017-05-09 14:02] mrmlnc commented on #101
I don't know what I should do in this situation. It seems to me that it would cause a lot of problems. However, I will add this syntax.

[2017-05-09 16:41] chrishoage commented on #101
Curious why you think it might cause problems? Stylefmt works with PostCSS no problem - provided it's been configured to do so.

[2017-05-10 11:52] svipas opened #102 "Format for PostCSS language"
Hello,

can you add to the list `PostCSS` language? I'm using this plugin `https://marketplace.visualstudio.com/items?itemName=mhmadhamster.postcss-language` which adds syntax coloring for `.css` files and it's language mode is `PostCSS` and formatting isn't working...

Formatting with `CTRL + SHIFT + P` and then select `stylefmt: Format CSS` works, but `CTRL + SHIFT + I` doesn't work for `PostCSS

[2017-05-10 15:40] mrmlnc commented on #102
Available in 2.4.0.

[2017-05-10 15:40] #102 closed, assigned to mrmlnc

[2017-05-10 15:40] mrmlnc commented on #101
Available in 2.4.0.

[2017-05-10 15:40] #101 closed, assigned to mrmlnc

[2017-05-10 18:17] svipas commented on #102
@mrmlnc Thank you! Tested and working! :+1:

[2017-05-14 19:00] greenkeeper[bot] opened #103 "An in-range update of mocha is breaking the build 🚨"
## Version **3.4.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2Fmocha-3.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-05-16 09:04] #103 closed, assigned to mrmlnc

[2017-05-26 02:34] woaiso opened #104 "Support to formatting LESS code"
PostCSS LESS Syntax: https://github.com/webschik/postcss-less

[2017-06-07 09:28] aeschli opened #106 "Stylefmt reports error whenever something is pasted in"
_From @smlombardi on June 6, 2017 15:4_

- VSCode Version: Code - Insiders 1.13.0-insider (eaa887c507e1614f90c9f04a30ceda775759e814, 2017-06-06T10:23:09.381Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|ng-template|Angular|0.1.3|
|vscode-markdownlint|DavidAnson|0.9.1|
|code-settings-sync|Shan|2.8.1|
|sort-lines|Tyriar|1.3.0|
|Bookmarks|alefragnani|0.15.

[2017-06-17 09:44] mrmlnc commented on #106
Hello, @aeschli and @smlombardi,

This issue related to `editor.formatOnPaste` option if it is set to True. VS Code try to format code after paste, but since it is invalid code stylefmt throw error.

You can set `stylefmt.showErrorMessages` option to False. By default this option will be enabled.

[2017-06-17 09:44] #106 closed, assigned to mrmlnc

[2017-06-27 17:15] greenkeeper[bot] opened #109 "An in-range update of typescript is breaking the build 🚨"
## Version **2.4.1** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2Ftypescript-2.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>
    <th alig

[2017-07-05 19:04] greenkeeper[bot] opened #110 "An in-range update of tslint is breaking the build 🚨"
## Version **5.5.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2Ftslint-5.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-07-09 13:20] ghost opened #111 "Conflict with Beautify: Formatting works only if I execute command explicitly from command palette"
Formatting works only if I execute command explicitly from command palette.
If I use ALT + SHIFT + F - nothing happens. If editor.formatOnSave = true - also, no reaction.

Version 1.13.1
Commit 379d2efb5539b09112c793d3d9a413017d736f89
Date 2017-06-14T18:21:47.485Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

[2017-07-09 13:54] ghost commented on #111
Never mind, looks like it conflicts with some other plugin.

[2017-07-09 13:54] #111 closed, assigned to nobody

[2017-07-09 16:46] ghost commented on #111
For anybody, who might have same problem - in beautify settings, leave CSS property with value of empty array, then it won't override CSS/SCSS formatter.

[2017-07-13 08:15] meltifa opened #112 ""block-opening-brace-space-before" problem"
i set "block-opening-brace-space-before": "always"

**before run stylefmt**
[code]
**after run stylefmt**
[code]
no space in opening brace before.
when i remove `@at-root`, it is work fine.

[2017-07-19 09:36] mrmlnc commented on #112
Hello, @meltifa,

Most likely this is a problem of stylefmt and related to [stylefmt](https://github.com/morishitter/stylefmt) repository.

I close this issue, but we can reopen it if this problem related to my plugin.

[2017-07-19 09:36] #112 closed, assigned to mrmlnc

[2017-07-26 21:03] taivu opened #115 "update dependencies"
Can you update dependencies? I have some rules that arent being adhered to since vscode-stylefmt  uses a < 6 version.

[2017-07-27 06:13] #104 closed, assigned to mrmlnc

[2017-07-27 06:18] mrmlnc commented on #115
Thanks for issue! The new version of this package will be available very soon.

[2017-07-27 06:18] #115 closed, assigned to mrmlnc

[2017-07-27 06:18] #109 closed, assigned to mrmlnc

[2017-07-27 06:18] #110 closed, assigned to mrmlnc

[2017-07-27 06:37] mrmlnc commented on #115
Resolved by [2.5.0](https://github.com/mrmlnc/vscode-stylefmt/releases/tag/v2.5.0).

[2017-07-27 06:37] mrmlnc commented on #104
Resolved by [2.5.0](https://github.com/mrmlnc/vscode-stylefmt/releases/tag/v2.5.0).

[2017-07-27 14:57] taivu commented on #115
thank you for addressing the issue! cheers 🍻

[2017-08-06 23:46] amosyuen opened #116 "Format on Save"
Great plugin, could you add an option to format on save?

[2017-08-10 15:49] muhajirdev opened #118 "Does it support sugarss?"

[2017-08-11 09:51] mrmlnc commented on #118
Most likely, Yes. Now I cannot work on this feature – PR welcome 🌮

  - https://github.com/mrmlnc/vscode-stylefmt/blob/master/src/extension.ts#L31
  - https://github.com/postcss/sugarss

[2017-08-18 22:17] palashkaria commented on #116
@amosyuen If you are looking for a quick solution, install [run on save plugin](https://marketplace.visualstudio.com/items?itemName=emeraldwalk.RunOnSave) and add something like this you your user settings:

[code]

[2017-08-31 17:12] greenkeeper[bot] opened #121 "An in-range update of typescript is breaking the build 🚨"
## Version **2.5.2** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2Ftypescript-2.5.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>
    <th alig

[2017-09-06 22:05] greenkeeper[bot] opened #122 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.27** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2F%40types%2Fnode-8.0.27">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2017-09-08 21:40] greenkeeper[bot] opened #123 "An in-range update of @types/mocha is breaking the build 🚨"
## Version **2.2.43** of [@types/mocha](https://www.npmjs.com/package/@types/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2F%40types%2Fmocha-2.2.43">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/mocha
    </td>
  </tr>
  <t

[2017-09-10 06:48] greenkeeper[bot] opened #124 "An in-range update of mocha is breaking the build 🚨"
## Version **3.5.1** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2Fmocha-3.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-09-28 09:27] #121 closed, assigned to nobody

[2017-09-28 09:27] #122 closed, assigned to nobody

[2017-09-28 09:27] #123 closed, assigned to nobody

[2017-09-28 09:27] #124 closed, assigned to nobody

[2017-10-03 15:01] greenkeeper[bot] opened #126 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.32** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2F%40types%2Fnode-8.0.32">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2017-10-03 19:05] mrmlnc opened #127 "Multi root workspaces support"
Like https://github.com/mrmlnc/vscode-csscomb/pull/91.

In [index.ts#L14 ](https://github.com/mrmlnc/vscode-stylefmt/blob/master/src/stylefmt/index.ts#L14) change method of getting root directory.

[2017-10-03 19:08] #126 closed, assigned to nobody

[2017-10-06 19:49] greenkeeper[bot] opened #130 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.33** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2F%40types%2Fnode-8.0.33">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2017-10-07 08:50] #130 closed, assigned to nobody

[2017-10-10 17:11] greenkeeper[bot] opened #132 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.34** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/mrmlnc/vscode-stylefmt/compare/greenkeeper%2F%40types%2Fnode-8.0.34">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2017-10-25 06:11] #132 closed, assigned to nobody

[2017-10-29 16:07] maliMirkec commented on #116
@palashkaria thank you for a great suggestion.
Just make sure to install Stylefmt locally or globally. Otherwise, this command won't work.

[2017-12-03 09:41] jimblue opened #138 "Autoformat not working anymore with stylelint-config-standard 18.0.0"
### Environment

  * VSCode Version: 1.18.1
  * OS Version: OSX 10.13.1

### Actual behavior
Not formatting on save or with command

### Expected behavior
Should format (was working before upgrading to stylelint-config-standard 18.0.0)

### Steps to reproduce
In `.stylelintrc`
[code]

### Reference
https://github.com/stylelint/stylelint-config-standard/issues/99

[2017-12-03 09:43] mrmlnc commented on #138
Related to https://github.com/morishitter/stylefmt/issues/327.

[2017-12-03 09:47] jimblue commented on #138
@mrmlnc I don't think this issue it's not related to the one you point to as I don't get this error since I've added the following in `.stylelintrc`:
`"no-descending-specificity": null`

**reference**
https://github.com/stylelint/stylelint-config-standard/issues/98

[2017-12-03 09:50] jimblue commented on #138
It's just not formatting anymore... I just tried rollback to `stylelint-config-standard 17.0.0` and it fix the problem.
So I guess there is some kind of compatibility issu between `stylefmt` and `stylelint-config-standard 18.0.0`

[2017-12-03 09:59] jimblue commented on #138
@mrmlnc are you able to reproduce this problem?

[2017-12-03 10:17] jimblue commented on #138
Ok apparently the problem come from `stylefmt` because there not up to date...

https://github.com/stylelint/stylelint/issues/3042#issuecomment-347578941

I've notice the issue, hopefully they'll correct it soon enough 😄

Thanks for your rapid answer

[2018-01-28 17:42] smlombardi commented on #138
It no longer formats scss files, even on command.

Is this plugin abandoned, can someone recommend an alternative?

[2018-01-28 18:30] mrmlnc commented on #138
Yeap, you can use Stylefmt as CLI command. Also you can create issue for your problem or send PR to my repository or `stylefmt` to fix this problem (https://github.com/morishitter/stylefmt/issues/328).

[2018-01-28 20:05] smlombardi commented on #138
OK, I updated the dependency in the package.json and did a PR.

[2018-01-29 18:30] smlombardi commented on #138
FWIW, I switched to Prettier and https://github.com/hugomrdias/prettier-stylelint

It not only formats the code but orders the attributes.

[2018-01-30 23:53] jimblue commented on #138
Also switch to prettier +1

[2018-02-28 10:02] gusbemacbe opened #144 "Does this extension support Allman style?"
### Environment

  * VSCode Version: 1.21.1
  * OS Version: macOS 10.13.3

Does this extension support Allman style? I would like to apply Allman style when I format CSS.

[2018-03-05 16:25] mrmlnc commented on #144
Hello, @gusbemacbe,

I don't know what is «Allman» style. You can provide more detailed information about it?

[2018-03-05 20:27] gusbemacbe commented on #144
For example:

Normal style:

[code]

Allman style:
[code]

[2018-03-05 20:29] gusbemacbe commented on #144
More sources:

1) https://en.wikipedia.org/wiki/Indentation_style#Allman_style
2) http://www.eps.mcgill.ca/jargon/html/entry/indent-style.html

[2018-03-06 12:24] drawcard opened #148 "Media queries are broken, causing parsing errors in browser"
### Environment

  * VSCode Version: 1.20.1
  * OS Version:

![image](https://user-images.githubusercontent.com/1435638/37032120-47e8c6f8-2191-11e8-8c5c-4a207de5be3f.png)

### Actual behavior

Stylefmt is breaking up media queries, causing parsing errors in the browser:

![image](https://user-images.githubusercontent.com/1435638/37032068-1b1a4246-2191-11e8-9e46-bf4b2d1afbb3.png)

Disabling vscode-

[2018-03-06 12:27] drawcard commented on #148
Oh dear, stupid me... that semicolon is invalid! Shouldn't be coding at midnight. Sorry to bother you.

[2018-03-06 12:28] #148 closed, assigned to mrmlnc

[2018-08-23 17:07] langdonx opened #156 "Extension fails after updating stylelint and stylelint-config-recommended"
Summary: I updated `stylelint-config-recommended` today and now I can't format my SCSS files.  Does this extension use its own local version of `stylelint` that might be outdated?  Is there a way for it to use the `stylelint` installed in the working directory's node_modules if it exists?

### Environment

  * VSCode Version: 1.26.1
  * OS Version: Windows 10

### Actual behavior

When I run the s

[2019-03-11 12:26] #144 closed, assigned to mrmlnc

[2019-04-02 11:17] smlombardi opened #158 "Formatting no longer working correctly after recent VSCode updates"
Issue Type: <b>Bug</b>

Somewhere along the line, in a recent update, the formatting of my SCSS files changed.  I am using Stylelint and the StyleFmt extension, and have the setting in my stylelintrc:

`"selector-list-comma-newline-after": "always-multi-line",`

This should have all my selectors stacked, the line ending in the commas.  This is how it worked for a long time.  However, they are now

[2019-09-15 22:50] costigans opened #160 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-stylefmt`
- Extension Version: `2.5.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.38.1`

[mrmlnc.vscode-stylefmt-unresponsive.cpuprofile.txt](https://github.com/mrmlnc/vscode-stylefmt/files/3614370/mrmlnc.vscode-stylefmt-unresponsive.cpuprofile.txt)

[2020-05-14 12:05] rollecode commented on #84
`stylefmt.showError` seems not to have any effect :(

[2020-05-17 09:40] mrmlnc commented on #158
Fixed by #162.

[2020-05-17 09:40] #158 closed, assigned to nobody

[2020-05-17 09:41] mrmlnc commented on #156
Fixed by #162.

[2020-05-17 09:41] #156 closed, assigned to nobody

[2020-05-17 09:41] mrmlnc commented on #138
Fixed by #162.

[2020-05-17 09:41] #138 closed, assigned to mrmlnc

[2020-05-17 09:41] mrmlnc commented on #116
Fixed by #162.

[2020-05-17 09:41] #116 closed, assigned to mrmlnc

[2020-05-17 09:41] mrmlnc commented on #96
Fixed by #162.

[2020-05-17 09:41] #96 closed, assigned to mrmlnc

[2020-05-17 09:41] mrmlnc commented on #118
Fixed by #159.

[2020-05-17 09:41] #118 closed, assigned to mrmlnc

[2020-07-05 10:49] mrmlnc opened #164 "This plugin is deprecated and archived"
The main package (`stylefmt`) that uses this extension is no longer being developed. I don't see the point in using outdated technology.

Instead of `stylefmt` you can use the following solutions:

* [`postcss`](https://github.com/postcss/postcss) with similar plugins.
* [`stylelint`](https://github.com/stylelint/stylelint)
* Maybe something else

I am releasing the last release of this extension

[2020-07-14 08:17] rollecode commented on #164
Stylefmt is better than prettier and others which force some styling preferences so I will keep using it. [This PR](https://github.com/mrmlnc/vscode-stylefmt/pull/163) with [these updates](https://github.com/mrmlnc/vscode-stylefmt/pull/163/commits/f1669822d943d467df8a0c3146d384cf0b0904ee) fixes this plugin even though the main package is no longer developed. It uses [my fork of stylefmt](https://g

[2020-07-14 08:21] rollecode commented on #164
So for future refrence and other people (you might want to add this to README @mrmlnc if you are not interested in upkeeping this repository any more nor merging my [PR](https://github.com/mrmlnc/vscode-stylefmt/pull/163)) to get vscode-stylefmt working again:

1. `cd ~/.vscode/extensions/mrmlnc.vscode-stylefmt-2.6.1`
2. `code package.json`
3. Edit lines shown [here](https://github.com/mrmlnc/vsco

[2020-08-27 10:08] mrmlnc commented on #164
JFYI: I can transfer this repository to you. In this case, you will need to publish the extension in the store under [your publisher](https://github.com/remarkjs/remark/issues/508#issuecomment-653866681). Alternatively, you can add your changes to the root repository (`stylefmt`) or become its maintainer.

[2020-08-27 10:26] rollecode commented on #164
I don't really have any other VSCode plugins so the world is unfamiliar to me. If you mean [this stylefmt repository](https://github.com/morishitter/stylefmt), its maintainer morishitter has been in the dark for two years and that's the origin of most issues so that won't help. I use stylefmt daily so would be glad to take over. I just need some time to create my own version of the plugin, you can

[2020-10-19 14:46] rollecode commented on #164
Hey @mrmlnc, I now have my active fork as a working VSCode plugin:

[Source](https://github.com/ronilaukkarinen/vscode-stylefmt)
[Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=ronilaukkarinen.vscode-stylefmt)

[2020-10-19 16:40] rollecode commented on #164
@mrmlnc Do you have an idea why it says

[code]

Everything should be all right and I haven't done any modifications other than installed travis and updated dependencies... 🤔  I'm kinda new to this as this is my first vscode plugin.

[2020-10-19 16:56] rollecode commented on #164
On development mode <kbd>F5</kbd> it works though...

[code]

Why is that?

[2020-10-19 19:25] rollecode commented on #164
...well, I had node_modules inside .vscodeignore... Thank goodness it works now. [(ref)](https://github.com/cake-build/cake-vscode/issues/92#issuecomment-496998078)

[2021-06-17 11:49] rollecode commented on #164
@mrmlnc As a reminder, I have active repos for both [vscode-stylefmt](https://github.com/ronilaukkarinen/vscode-stylefmt) and [stylefmt](https://github.com/ronilaukkarinen/stylefmt), you could point your users to this direction. Thanks.

[2021-06-21 07:54] mrmlnc commented on #164
A link to your extension has been added to the plugin description.

[2021-06-21 07:54] #164 closed, assigned to mrmlnc

[2021-06-21 07:56] #160 closed, assigned to nobody

[2021-06-21 07:56] #127 closed, assigned to mrmlnc